.header {
  background-image: url("../../Images/sergey-shmidt-koy6FlCCy5s-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header span {
  margin-right: 20px;
}

.date {
  margin-right: 5px;
  font-family: "Russo One", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.time {
  font-family: "Russo One", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

@media (min-width: 800px) {
  .header {
    background-image: url("../../Images/sergey-shmidt-koy6FlCCy5s-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 430px;
    height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
